<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'booking/css/styles.css' %}">
</head>
<body class="login">
     <!-- Navigation Bar -->
     <header>
        <nav>
            <div class="logo">
                <img src="{% static 'booking/images/logo.png' %}" alt="Logo">
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'search_bus' %}">Search Buses</a></li>
                <li><a href="{% url 'register_bus' %}">Register Bus</a></li>
                <li><a href="{% url 'register_agency' %}">Register Agency</a></li>
                <li><a href="{% url 'about_us' %}">About Us</a></li>
            </ul>
            <div class="auth-buttons">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="btn">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn">Login</a>
                    <a href="{% url 'signup' %}" class="btn">Sign Up</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <div class="container">
        <form method="post" id="loginForm">
            {% csrf_token %}
            <h2>Login</h2>
            <div class="input-group">
                <label for="id_username">Username</label>
                {{ form.username }}
            </div>
            <div class="input-group">
                <label for="id_password">Password</label>
                {{ form.password }}
            </div>
            <button type="submit">Login</button>
            <p class="message">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
        </form>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
